* {
    margin: 0;
    padding: 0;
    transition: all .3s ease-out;
}

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(170deg, rgb(255, 240, 216), lightgreen);
    overflow: hidden;
}

.sidebar.open ~ .home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    left: 78px;
    width: calc(100% - 78px);
    position: relative;
    transition: all 0.5s ease;
    z-index: 2;
}

.card {
    display: flex;
    justify-content: end;
    width: 600px;
    color: black;
    text-align: center;
    padding: 50px;
    border-radius: 30px;
    border: 5px solid rgba(225, 225, 225, 0.1);
    background: rgba(225,225, 225, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.card-body {
    width: 75%;
    display: inline-block;
}

h5 {
    color: #2cbe00;
    font-size: 45px;
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: -1px;
    margin-bottom: 10px;
}

.card-body ul {
    margin-top: 40px;
    align-items: center;
    text-align: left;
    justify-content: center;
}

.card-body ul span{
    font-weight: bold;
}

.card-img {
    position: absolute;
    width: 750px;
    top: -200px;
    right: 275px;
}

.navigation-buttons {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.navigation-buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #14a800;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.navigation-buttons button:hover {
    background-color: #0056b3;
}

.navigation-button-exit button {
    position: absolute;
    background-color: rgb(209, 23, 23);
    width: 150px;
    height: 60px;
    top: 20px;
    right: 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    color: white;
}

.navigation-button-exit button:hover {
    position: absolute;
    background-color: rgb(102, 6, 6);
    width: 150px;
    height: 60px;
    top: 20px;
    right: 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    color: rgb(158, 158, 158);
    cursor: pointer;
}