<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensori</title>
    <link rel="stylesheet" href="/static/css-componentistica/sensori.css">
    <link rel="stylesheet" href="/static/css-generale/sidebar.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="sidebar">
        <div class="logo-details">
            <div class="logo_name">SERRAITSAR</div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
            <li><a href="/home"><i class='bx bxs-home'></i><span class="links_name">Home</span></a><span class="tooltip">Home</span></li>
            <li><a href="/piante"><i class='bx bxs-leaf'></i><span class="links_name">Piante</span></a><span class="tooltip">Piante</span></li>
            <li><a href="/componentistica"><i class='bx bxs-component' ></i><span class="links_name">Componentistica</span></a><span class="tooltip">Componentistica</span></li>
            <li><a href="/funzionamento"><i class='bx bxs-network-chart'></i><span class="links_name">Funzionamento</span></a><span class="tooltip">Funzionamento</span></li>
            <li><a href="/storico"><i class='bx bxs-spreadsheet' ></i><span class="links_name">Storico</span></a><span class="tooltip">Storico</span></li>
            <li class="logout-btn"><a href="#"><i class='bx bx-run'></i><span class="links_name">Log Out</span></a><span class="tooltip">Log Out</span></li>
        </ul>
    </div>
    <section class="home-section">
        <h2>SENSORI</h2>
        <table class="sensor-table">
            <thead>
                <tr>
                    <th>Simbolo</th>
                    <th>Nome</th>
                    <th>Ruolo</th>
                    <th>Data di Acquisto</th>
                    <th>Data di Ultima Manutenzione</th>
                    <th>Stato</th>
                    <th>Informazioni</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class='bx bxs-thermometer'></i></td>
                    <td>DHT11</td>
                    <td>Temperatura e Umidità </td>
                    <td>17/07/2024</td>
                    <td>17/07/2024</td>
                    <td><button class="sensor-status active">Attivo</button></td>
                    <td><button class="toggle-details">Dettagli</button></td>
                </tr>
                <tr class="sensor-details">
                    <td colspan="7">
                        <div class="sensor-detail-item">
                            <h3>Illustrazione del Componente</h3>
                            <img src="/static/foto-sensori/dht11.jpg" alt="Illustrazione del DHT11">
                        </div>
                        <div class="sensor-detail-item">
                            <h3>Collegamento al Circuito</h3>
                            <img src="/static/foto-sensori/dht11-setup.png" alt="Collegamento al Circuito del DHT11">
                        </div>
                        <div class="sensor-detail-item">
                            <h3>Confronto del Prezzo</h3>
                            <img src="/static/foto-sensori/dht11-prezzo.png" alt="Confronto del Prezzo del DHT11">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><i class='bx bx-water' ></i></td>
                    <td>Water Sensor</td>
                    <td>Livello dell'Acqua</td>
                    <td>17/07/2024</td>
                    <td>17/07/2024</td>
                    <td><button class="sensor-status active">Attivo</button></td>
                    <td><button class="toggle-details">Dettagli</button></td>
                </tr>
                <tr class="sensor-details">
                    <td colspan="7">
                        <div class="sensor-detail-item">
                            <h3>Illustrazione del Componente</h3>
                            <img src="/static/foto-sensori/WS.jpg" alt="Illustrazione del Sensore per l'Acqua">
                        </div>
                        <div class="sensor-detail-item">
                            <h3>Collegamento al Circuito</h3>
                            <img src="/static/foto-sensori/WS-setup.png" alt="Collegamento al Circuito del Sensore per l'Acqua">
                        </div>
                        <div class="sensor-detail-item">
                            <h3>Confronto del Prezzo</h3>
                            <img src="/static/foto-sensori/WS-prezzo.png" alt="Confronto del Prezzo del Sensore per L'Acqua">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><i class='bx bx-bulb' ></i></td>
                    <td>GL5516</td>
                    <td>Luminosità</td>
                    <td>17/07/2024</td>
                    <td>17/07/2024</td>
                    <td><button class="sensor-status active">Attivo</button></td>
                    <td><button class="toggle-details">Dettagli</button></td>
                </tr>
                <tr class="sensor-details">
                    <td colspan="7">
                        <div class="sensor-detail-item">
                            <h3>Illustrazione del Componente</h3>
                            <img src="/static/foto-sensori/GL5516.jpg" alt="Illustrazione del Fotoresistore">
                        </div>
                        <div class="sensor-detail-item">
                            <h3>Collegamento al Circuito</h3>
                            <img src="/static/foto-sensori/GL5516-setup.png" alt="Collegamento al Circuito del Fotoresistore">
                        </div>
                        <div class="sensor-detail-item">
                            <h3>Confronto del Prezzo</h3>
                            <img src="/static/foto-sensori/GL5516-prezzo.png" alt="Confronto del Prezzo del Fotoresistore">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><i class='bx bx-droplet'></i></td>
                    <td>YL-69</td>
                    <td>Umidità del Terreno (Basilico)</td>
                    <td>17/07/2024</td>
                    <td>17/07/2024</td>
                    <td><button class="sensor-status active">Attivo</button></td>
                    <td><button class="toggle-details">Dettagli</button></td>
                </tr>
                <tr class="sensor-details">
                    <td colspan="7">
                        <div class="sensor-detail-item">
                            <h3>Illustrazione del Componente</h3>
                            <img src="/static/foto-sensori/YL-69.jpg" alt="Illustrazione dell'Igrometro">
                        </div>
                        <div class="sensor-detail-item">
                            <h3>Collegamento al Circuito</h3>
                            <img src="/static/foto-sensori/YL-69-setup.PNG" alt="Collegamento al Circuito dell'Igrometro">
                        </div>
                        <div class="sensor-detail-item">
                            <h3>Confronto del Prezzo</h3>
                            <img src="/static/foto-sensori/YL-69-prezzo.png" alt="Confronto del Prezzo dell'Igrometro">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><i class='bx bx-droplet'></i></td>
                    <td>YL-69</td>
                    <td>Umidità del Terreno (Prezzemolo)</td>
                    <td>17/07/2024</td>
                    <td>17/07/2024</td>
                    <td><button class="sensor-status active">Attivo</button></td>
                    <td><button class="toggle-details">Dettagli</button></td>
                </tr>
                <tr class="sensor-details">
                    <td colspan="7">
                        <div class="sensor-detail-item">
                            <h3>Illustrazione del Componente</h3>
                            <img src="/static/foto-sensori/YL-69.jpg" alt="Illustrazione dell'Igrometro">
                        </div>
                        <div class="sensor-detail-item">
                            <h3>Collegamento al Circuito</h3>
                            <img src="/static/foto-sensori/YL-69-setup.PNG" alt="Collegamento al Circuito dell'Igrometro">
                        </div>
                        <div class="sensor-detail-item">
                            <h3>Confronto del Prezzo</h3>
                            <img src="/static/foto-sensori/YL-69-prezzo.png" alt="Confronto del Prezzo dell'Igrometro">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><i class='bx bx-droplet'></i></td>
                    <td>YL-69</td>
                    <td>Umidità del Terreno (Menta)</td>
                    <td>17/07/2024</td>
                    <td>17/07/2024</td>
                    <td><button class="sensor-status active">Attivo</button></td>
                    <td><button class="toggle-details">Dettagli</button></td>
                </tr>
                <tr class="sensor-details">
                    <td colspan="7">
                        <div class="sensor-detail-item">
                            <h3>Illustrazione del Componente</h3>
                            <img src="/static/foto-sensori/YL-69.jpg" alt="Illustrazione dell'Igrometro">
                        </div>
                        <div class="sensor-detail-item">
                            <h3>Collegamento al Circuito</h3>
                            <img src="/static/foto-sensori/YL-69-setup.PNG" alt="Collegamento al Circuito dell'Igrometro">
                        </div>
                        <div class="sensor-detail-item">
                            <h3>Confronto del Prezzo</h3>
                            <img src="/static/foto-sensori/YL-69-prezzo.png" alt="Confronto del Prezzo dell'Igrometro">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="navigation-buttons">
            <button onclick="window.location.href='/componentistica/struttura'">Struttura</button>
            <button onclick="window.location.href='/componentistica/attuatori'">Attuatori</button>
        </div>
        <div class="center-button">
            <button onclick="window.location.href='/componentistica'">Componentistica</button>
        </div>
    </section>
    <div id="logoutDialog" class="dialog-overlay">
        <div class="dialog-box">
          <h2>Sei sicuro di voler uscire?</h2>
          <div class="dialog-buttons">
            <button id="cancelLogout" class="dialog-button cancel">Annulla</button>
            <button id="confirmLogout" class="dialog-button confirm">Esci</button>
          </div>
        </div>
    </div>
    <script src="/static/js-scripts/sidebar.js"></script>
    <script src="/static/js-scripts/dettagli-componentistica.js"></script>
    <script src="/static/js-scripts/logout.js"></script>
</body>
</html>
